/* Text */
$fontFamily: 'Open Sans', sans-serif;;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1.63;

/* Colors */
$white: #ffffff;
$black: #000000;

$dark: #263238;
$bright: #e74c3c;
$primary: #8bc34a;
$light: #f4f6f5;

$text: #7581a1;
